*, *:after, *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:active,
:hover,
:focus {
  outline: 0 !important;
  outline-offset: 0;
}
a,
a:hover {
  text-decoration: none;
}
a:hover {
  color: var(--primary-color);
}
ul,
ol {
  margin: 0;
  padding: 0;
}
:root {
  --primary-color: #ff1e1e;
  --secondary-color: #5a8cff;
  --primary-font: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --secondary-font: "Roboto", sans-serif;
}

body {
font-family: var(--primary-font);
color: #4d4643;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0;
  font-weight: 400;
}

a {
color: #0c9ada;
text-decoration: none;
}

a:hover {
color: var(--primary-color);
text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
font-family: var(--secondary-font);
}
/* Custom Nav*/
.navbar-blue {
  -moz-transition: all .6s ease;
  -o-transition: all .6s ease;
  -webkit-transition: all .6s ease;
  -ms-transition: all .6s ease;
  transition: all .6s ease;
}
.navbar-blue .navbar-nav>.nav-item>.nav-link {
  font-size: 15px;
  padding: 1.4rem 0.4rem 1.4rem 1.4rem;
  color: #4a4a4a;
  font-weight: 500;
  display: unset;
}
.logo {
  max-height: 40px;
}
.nav-contact {
  padding: 10px 20px;
  background-color: var(--primary-color);
  border: 1px solid var(--secondary-color);
  color: white;
}
.navbar-nav .nav-item:not(:last-child):after {
  content: "|";
  color: #a8a8a8;
}
section {
padding: 60px 0;
}
.home-wrap {
  height: 100vh;
  min-height: 100%;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
  z-index: 0;
}
.home-wrap .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background: #111;
  z-index: -1;
}
.home-wrap .slider-text {
  height: 100vh;
  min-height: 650px;
  color: var(--secondary-color);
  z-index: 3;
}
.subheading {
  font-size: 21px;
  font-weight: 500;
}
.navbar-brand {
  margin-right: 0;
}
.colg-scrh {
display: -ms-flexbox;
display: flex;
-ms-flex-pack: center;
    justify-content: center;
-ms-flex-align: center;
    align-items: center;
}

.colg-scrh form {
width: 100%;
max-width: 940px;
}

.colg-scrh form .inner-form {
display: -ms-flexbox;
display: flex;
width: 100%;
-ms-flex-pack: justify;
    justify-content: space-between;
-ms-flex-align: center;
    align-items: center;
}

.colg-scrh form .inner-form .input-field {
height: 50px;
}

.colg-scrh form .inner-form .input-field input {
height: 100%;
background: #fff;
border: 0;
display: block;
width: 100%;
padding: 10px 16px;
font-size: 16px;
color: #333;
border: 1px solid #e5e5e5;
}

.colg-scrh form .inner-form .input-field input.placeholder {
color: #9a9a9a;
font-size: 16px;
}

.colg-scrh form .inner-form .input-field input:-moz-placeholder {
color: #9a9a9a;
font-size: 16px;
}

.colg-scrh form .inner-form .input-field input::-webkit-input-placeholder {
color: #9a9a9a;
font-size: 16px;
}

.colg-scrh form .inner-form .input-field input:hover, .colg-scrh form .inner-form .input-field input:focus {
box-shadow: none;
outline: 0;
}

.colg-scrh form .inner-form .input-field.first-wrap {
-ms-flex-positive: 1;
    flex-grow: 1;
}

.colg-scrh form .inner-form .input-field.first-wrap input {
border-right: 0;
}

.colg-scrh form .inner-form .input-field.second-wrap {
min-width: 200px;
}

.colg-scrh form .inner-form .input-field.second-wrap .choices__inner {
background: #fff;
border-radius: 0;
border: 1px solid #e5e5e5;
height: 100%;
color: #333;
display: -ms-flexbox;
display: flex;
-ms-flex-align: center;
    align-items: center;
padding: 0 16px;
}

.colg-scrh form .inner-form .input-field.second-wrap .choices__inner .choices__list.choices__list--single {
display: -ms-flexbox;
display: flex;
padding: 0;
-ms-flex-align: center;
    align-items: center;
height: 100%;
}

.colg-scrh form .inner-form .input-field.second-wrap .choices__inner .choices__item.choices__item--selectable.choices__placeholder {
display: -ms-flexbox;
display: flex;
-ms-flex-align: center;
    align-items: center;
height: 100%;
opacity: 1;
color: #333;
font-size: 16px;
}

.colg-scrh form .inner-form .input-field.second-wrap .choices__inner .choices__list--single .choices__item {
display: -ms-flexbox;
display: flex;
-ms-flex-align: center;
    align-items: center;
height: 100%;
font-size: 16px;
}

.colg-scrh form .inner-form .input-field.second-wrap .choices__list.choices__list--dropdown {
border: 0;
background: #fff;
}

.colg-scrh form .inner-form .input-field.second-wrap .choices__list--dropdown .choices__item--selectable.is-highlighted {
background: #fff;
color: #333;
}

.colg-scrh form .inner-form .input-field.second-wrap .choices__list--dropdown .choices__item {
color: #333;
}

.colg-scrh form .inner-form .input-field.second-wrap .choices__list--dropdown {
margin-top: 0;
}

.colg-scrh form .inner-form .input-field.third-wrap {
width: 100px;
}

.colg-scrh form .inner-form .input-field.third-wrap .btn-search {
height: 100%;
width: 100%;
white-space: nowrap;
font-size: 17px;
color: #fff;
border: 0;
cursor: pointer;
position: relative;
z-index: 0;
background: var(--secondary-color);
transition: all .2s ease-out, color .2s ease-out;
font-weight: 600;
}

.colg-scrh form .inner-form .input-field.third-wrap .btn-search:hover {
background: #2d62d3;
}

.colg-scrh form .inner-form .input-field.third-wrap .btn-search:focus {
outline: 0;
box-shadow: none;
}

.colg-scrh form .inner-form .choices[data-type*="select-one"] .choices__inner {
padding-bottom: 0;
}

.colg-scrh form .inner-form .choices[data-type*="select-one"]:after {
border: 0;
width: 18px;
height: 18px;
margin: 0;
transform: translateY(-50%);
opacity: 1;
right: 15px;
top: 50%;
background-size: 18px 18px;
background-position: right center;
background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg fill='%23999' xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3e%3cpath d='M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z'/%3e%3c/svg%3e");
background-repeat: no-repeat;
}

.colg-scrh form .inner-form .choices[data-type*="select-one"].is-open:after {
background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg fill='%23999' xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3e%3cpath d='M12 8l-6 6 1.41 1.41L12 10.83l4.59 4.58L18 14z'/%3e%3c/svg%3e");
}

@media screen and (max-width: 992px) {
.colg-scrh form .inner-form .input-field {
  height: 60px;
}
}

@media screen and (max-width: 767px) {
.colg-scrh form .inner-form {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px;
}
.colg-scrh form .inner-form .input-field {
  margin-bottom: 20px;
}
.colg-scrh form .inner-form .input-field input {
  padding: 10px 15px;
}
.colg-scrh form .inner-form .input-field.first-wrap {
  width: 100%;
}
.colg-scrh form .inner-form .input-field.first-wrap .choices__inner {
  padding: 10px 15px;
}
.colg-scrh form .inner-form .input-field.second-wrap {
  width: 100%;
}
.colg-scrh form .inner-form .input-field.second-wrap input {
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.colg-scrh form .inner-form .input-field.third-wrap {
  margin-bottom: 0;
  width: 100%;
}
}
.bg-blue {
  background-color: var(--secondary-color);
  padding: 60px 0;
  color: white;
  text-align: center;
}
.bg-blue .card {
  background-color: transparent;
  font-family: var(--secondary-font);
  border: 1px solid rgb(255 255 255 / 90%);
  border-radius: 0.5rem;
}
.card-heading {
background-color: white;
font-size: 36px;
line-height: 1.5;
border-radius: 50%;
width: 50px;
height: 50px;
margin: 20px auto;
color: var(--secondary-color);
}
.bg-blue .card-text {
color: #f2f2f2;
font-size: 15px;
}
footer {
min-height: 100px;
padding: 30px;
color: #FFF;
text-align: center;
font-size: 13px;
background-color: #4a4a4a;
}
.social-media a {
color: #fff;
font-size: 25px;
}
.social-media a:not(:last-child) {
margin-right: 10px;
}
.footer-sub {
font-size: 20px;
}
.footer-sub a {
font-size: 13px;
color: #fff;
}
.copyright {
color: #a0a0a0;
}
.widget-title {
  margin-bottom: 20px;
}

.widget-title hr {
  border-color: #999eab;
  margin: 0;
  height: 3px;
  width: 50px;
}
.bg-shade{
  background-color: rgb(0 0 0 / 50%);
}
header {
  min-height: 67px;
}
.colg-img {
  height: 122px;
  width: auto;
  margin: auto;
}
.module .collapse, .module .collapsing {
  height: 10rem;  /* [NUM_OF_LINES] x [LINE_HEIGHT] */
}

.module .collapse {
  position: relative;  /* For ...'s content absolute positioning */
  display: block;
  overflow: hidden;
}
.bg-grey {
  background-color: #F9F9F9;
}


.profile-header {
  position: relative;
  overflow: hidden
}

.profile-header .profile-header-cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0
}

.profile-header .profile-header-cover:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .75) 100%)
}

.profile-header .profile-header-content {
  color: #fff;
  padding: 75px 25px 25px;
}

.profile-header-img {
  float: left;
  width: 120px;
  height: 120px;
  overflow: hidden;
  position: relative;
  z-index: 10;
  margin: 0 0 -20px;
  padding: 3px;
  border-radius: 4px;
  background: #fff
}

.profile-header-img img {
  max-width: 100%;
  padding-top: 35%;
}

.profile-header-info h4 {
  font-weight: 500;
  color: #fff
}

.profile-header-img+.profile-header-info {
  margin-left: 140px
}

.profile-header .profile-header-content,
.profile-header .profile-header-tab {
  position: relative
}

.profile-header .profile-header-tab {
  background: #fff;
  list-style-type: none;
  margin: -10px 0 0;
  padding: 0 60px;
  white-space: nowrap;
  border-radius: 0
}

.text-ellipsis,
.text-nowrap {
  white-space: nowrap!important
}

.profile-header .profile-header-tab>li {
  display: inline-block;
  margin: 0
}

.profile-header .profile-header-tab>li>a {
  display: block;
  color: #929ba1;
  line-height: 20px;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: 700;
  font-size: 15px;
  border: none
}

.profile-header .profile-header-tab>li.active>a,
.profile-header .profile-header-tab>li>a.active {
  color: #242a30;
  border-bottom: 2px solid #ff1e1e !important;
}

.profile-content {
  padding: 25px 50px;
  border-radius: 4px;
  background-color: #FFF;
  box-shadow: 5px 10px 18px #888888;
}

.profile-content:after,
.profile-content:before {
  content: '';
  display: table;
  clear: both
}

.profile-content .tab-content,
.profile-content .tab-pane {
  background: 0 0
}

.profile-left {
  width: 200px;
  float: left
}

.profile-right {
  margin-left: 240px;
  padding-right: 20px
}

.profile-image {
  height: 175px;
  line-height: 175px;
  text-align: center;
  font-size: 72px;
  margin-bottom: 10px;
  border: 2px solid #E2E7EB;
  overflow: hidden;
  border-radius: 4px
}

.profile-image img {
  display: block;
  max-width: 100%
}

.profile-highlight {
  padding: 12px 15px;
  background: #FEFDE1;
  border-radius: 4px
}

.profile-highlight h4 {
  margin: 0 0 7px;
  font-size: 12px;
  font-weight: 700
}

.profile-section+.profile-section {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #b9c3ca
}

.profile-section:after,
.profile-section:before {
  content: '';
  display: table;
  clear: both
}

.profile-section .title {
  font-size: 20px;
  margin: 0 0 15px
}

.profile-section .title small {
  font-weight: 400
}
.duration {
  font-size: 14px;
  line-height: 17px;
  font-style: italic;
}
.f-13 {
  font-size: 13px;
}
.f-14 {
  font-size: 14px;
}
.text-right {
  text-align: right;
}
.bg-aqua {
  background-color: #ecf9f9;
  box-shadow: 5px 10px 18px #888888;
}
.bottom-shadow {
  background-color: #FFF;
  -webkit-box-shadow: 0 10px 10px -10px #0000004d;
   -moz-box-shadow: 0 10px 10px -10px #0000004d;
        box-shadow: 0 10px 10px -10px #0000004d;
}
.welcome hr {
  width: 100px;
  height: 3px;
  margin: 0 auto 20px;
}
.testimonial-card{
  min-height: 400px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 10px 10px -10px #0000004d;
  display: flex;
  flex-flow: column;
  justify-content:space-between;
 
}
.text{
  padding: 2.2em 1.5em;
    line-height: 1.4em;
    position: relative;
    font-size: 17px;
}
.image{
  background-color:tomato;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  border: 5px solid white;
  background:no-repeat center/cover url(https://images.unsplash.com/photo-1563715992566-7ad5cf5b71d3?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translateX(-50%);
  display:flex;
  justify-content:center;
  
}

.footer{
  background: linear-gradient(90deg, #ff1e1e 0%, #749fff 100%);
  height: 140px;
  border-radius: 0 0 10px 10px;
  position:relative;
  
}

.quote{
  font-size: 400%;
  float: right;
  opacity: .1;
  transform: rotate(10deg) translate(-10px, -40px);
  color:#4D3FA3;
}

.person{
  color:white;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -100%);
  font-size: 1.1rem;
  font-weight: 500;
}
.mdl-btn {
  border: none;
    font-size: 25px;
    background-color: transparent;
}
.pop-img {
  width: 40px;
    height: 40px;
}
.btn-primary {
    background-color: var(--secondary-color);
}

.heading {
  text-align: center;
  color: #454343;
  font-size: 30px;
  font-weight: 700;
  position: relative;
  margin-bottom: 70px;
  text-transform: uppercase;
  z-index: 999;
}
.white-heading{
  color: #ffffff;
}
.heading:after {
  content: ' ';
  position: absolute;
  top: 100%;
  left: 50%;
  height: 40px;
  width: 180px;
  border-radius: 4px;
  transform: translateX(-50%);
  background: url(img/heading-line.png);
  background-repeat: no-repeat;
  background-position: center;
}
.white-heading:after {
  background: url(https://i.ibb.co/d7tSD1R/heading-line-white.png);
  background-repeat: no-repeat;
  background-position: center;
}

.heading span {
  font-size: 18px;
  display: block;
  font-weight: 500;
}
.white-heading span {
  color: #ffffff;
}
/*-----Testimonial-------*/
.testimonial:after {
  position: absolute;
  top: -0 !important;
  left: 0;
  content: " ";
  background-size: 100% 100px;
  width: 100%;
  height: 100px;
  float: left;
  z-index: 99;
}
.testimonial {
  min-height: 375px;
  position: relative;
  background: url(https://i.ibb.co/PTJDkgb/testimonials.jpg);
  padding-top: 50px;
  padding-bottom: 50px;
  background-position: center;
  background-size: cover;
}
#testimonial4 .carousel-inner:hover{
cursor: -moz-grab;
cursor: -webkit-grab;
}
#testimonial4 .carousel-inner:active{
cursor: -moz-grabbing;
cursor: -webkit-grabbing;
}
#testimonial4 .carousel-inner .item{
overflow: hidden;
}
.testimonial4_indicators .carousel-indicators{
left: 0;
margin: 0;
width: 100%;
font-size: 0;
height: 20px;
bottom: 15px;
padding: 0 5px;
cursor: e-resize;
overflow-x: auto;
overflow-y: hidden;
position: absolute;
text-align: center;
white-space: nowrap;
}
.testimonial4_indicators .carousel-indicators li{
padding: 0;
width: 14px;
height: 14px;
border: none;
text-indent: 0;
margin: 2px 3px;
cursor: pointer;
display: inline-block;
background: #ffffff;
-webkit-border-radius: 100%;
border-radius: 100%;
}
.testimonial4_indicators .carousel-indicators .active{
padding: 0;
width: 14px;
height: 14px;
border: none;
margin: 2px 3px;
background-color: #9dd3af;
-webkit-border-radius: 100%;
border-radius: 100%;
}
.testimonial4_indicators .carousel-indicators::-webkit-scrollbar{
height: 3px;
}
.testimonial4_indicators .carousel-indicators::-webkit-scrollbar-thumb{
background: #eeeeee;
-webkit-border-radius: 0;
border-radius: 0;
}
.testimonial4_control_button .carousel-control{
top: 175px;
opacity: 1;
width: 40px;
bottom: auto;
height: 40px;
font-size: 10px;
cursor: pointer;
font-weight: 700;
overflow: hidden;
line-height: 38px;
text-shadow: none;
text-align: center;
position: absolute;
background: transparent;
border: 2px solid #ffffff;
text-transform: uppercase;
-webkit-border-radius: 100%;
border-radius: 100%;
-webkit-box-shadow: none;
box-shadow: none;
-webkit-transition: all 0.6s cubic-bezier(0.3,1,0,1);
transition: all 0.6s cubic-bezier(0.3,1,0,1);
}
.testimonial4_control_button .carousel-control.left{
left: 7%;
top: 50%;
right: auto;
}
.testimonial4_control_button .carousel-control.right{
right: 7%;
top: 50%;
left: auto;
}
.testimonial4_control_button .carousel-control.left:hover,
.testimonial4_control_button .carousel-control.right:hover{
color: #000;
background: #fff;
border: 2px solid #fff;
}
.testimonial4_header{
top: 0;
left: 0;
bottom: 0;
width: 550px;
display: block;
margin: 30px auto;
text-align: center;
position: relative;
}
.testimonial4_header h4{
color: #ffffff;
font-size: 30px;
font-weight: 600;
position: relative;
letter-spacing: 1px;
text-transform: uppercase;
}
.testimonial4_slide{
top: 0;
left: 0;
right: 0;
bottom: 0;
width: 70%;
margin: auto;
padding: 20px;
position: relative;
text-align: center;
}
.testimonial4_slide img {
  top: 0;
  left: 0;
  right: 0;
  width: 136px;
  height: 136px;
  margin: auto;
  display: block;
  color: #f2f2f2;
  font-size: 18px;
  line-height: 46px;
  text-align: center;
  position: relative;
  border-radius: 50%;
  box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
  -o-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
  -webkit-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
}
.testimonial4_slide p {
  color: #ffffff;
  font-size: 20px;
  line-height: 1.4;
  margin: 40px 0 20px 0;
}
.testimonial4_slide h4 {
color: #ffffff;
font-size: 22px;
}
.testimonial .carousel {
padding-bottom:50px;
}
.testimonial .carousel-control-next-icon, .testimonial .carousel-control-prev-icon {
  width: 35px;
  height: 35px;
}
/* ------testimonial  close-------*/
